<!-- Show total expenditure by tag -->
<table>
  <tr>
    <th>Catgory</th><th>Total spent</th>
  </tr>
  <% for tag in @tags %>
    <tr>
      <td><%= tag.tag_name %></td>
      <td><%= tag.total_spent %></td>
    </tr>
  <% end %>
</table>


<!-- show total expenditure by month -->
<table>
  <tr>
    <th>Month</th><th>Total expenditure</th>
  </tr>
  <% for index in 0...@months.count %>
    <tr>
      <td><%= @months[index] %></td>
      <td><%= @monthly_totals[index] %></td>
    </tr>
  <% end %>
</table>