<!DOCTYPE html>
<html>
  <head>
    <title>Transaction Tracker</title>
    <!-- Link to a Google font here! -->
    <!-- Link to a style sheet here! -->
  </head>

  <body>
    <main>
      <h1>Transaction Tracker</h1>
      <h2>Keep tabs on all your expenditure.</h2>

      <nav>
        <ul>
          <li><a href="/transactions">Transactions</a></li>
          <li><a href="/tags">Expenditure categories</a></li>
        </ul>
      </nav>

      <%= yield %>

    </main>
  </body>

</html>