* {
  margin: 0;
  padding: 0;
}

#logo_group {
  /*background-color: pink;*/
  display: flex;
  flex-direction: row;
  margin-left: 2em;
}

#logo_image {
  width: 50px;
  height: 50px;
  /*background-color: red;*/
}

#logo_text {
  /*background-color: green;*/
  font-family: Raleway;
  color: white; 
  font-size: 2.2em;
  font-weight: 200;
  display: inline;
  margin-left: 0.1em;

}

#logo_text span {
  font-style: italic;
  color: #0094a7;
  font-weight: 400;
}

#banner_bar {
  height: 100px;
  background-color: #26c6da;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#banner_bar ul {
  /*background-color: gold;*/
  list-style: none;
  display: flex;
  flex-direction: row;
  font-family: Raleway;

}

#banner_bar ul li {
  margin-right: 1.5em;
}

#banner_bar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

#banner_bar ul li a:hover {
  color: #0094a7;
}

.edit-form {
  margin-top: 20px;
}

.under-button {
  margin-top: 20px;
}

.total {
  font-weight: 900;
}

.total_row {
  font-weight: 900;
  background-color: #e2f1f8;
}

.warning {
  margin-top: 30px;
  color: red;
  font-family: Raleway;
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

table {
  margin-top: 50px;
  font-family: Raleway;
  border: 1px solid #b0bec5;
  border-collapse: collapse;
}

th {
  background-color: #26c6da;
  font-weight: 400;
  text-align: right;
  color: white;
  padding: 5px 30px;
}

td {
  text-align: right;
  color: #455a64;
  padding: 5px 30px;
}

label {
  font-family: Raleway;
  color: #455a64;
  display: inline-block;
  margin-bottom: 5px;
}

select, input[type="text"], input[type="decimal"], input[type="date"]
{
  font-family: Raleway;
  color: #455a64;
  font-size: 0.9em;
  text-align: left;
  padding-right: 5px;
  display: block;
  margin-bottom: 15px;
}

select {
  display: inline-block;
  margin-right: 30px;
}

input[type="image"] {
  width: 22px;
  vertical-align: bottom;
}

.icon-cell {
  text-align: center;
}
