<p class="warning">You can't delete this Category because some of your Transactions are using it!</p>

<p class="warning">If you wish to delete this Category, you must first delete all the Transactions that use it.</p>