<table>
  <tr>
    <th>Edit</th>
    <th>Category</th>
    <th>Delete</th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td class="icon-cell">
      <form method="GET" action="/tags/<%= tag.id %>/edit">
        <input type="image" src="/edit_icon.png" border="0" alt="Submit"/>
      </form>
    </td>
    <td><%= tag.tag_name %></td>
    <td class="icon-cell">
      <form method="POST" action="/tags/<%= tag.id %>/delete">
        <input type="image" src="/delete_icon.png" border="0" alt="Submit"/>
      </form>
    </td>
  </tr>
  <% end %>
</table>

<form class="under-button" method="GET" action="/tags/new" >
  <input type="submit" value="Create new category" />
</form>