<form class="edit-form" method="POST" action="/tags">

  <label for="tag_field">Category:</label>
  <input id="tag_field" name="tag_name" type="text">

  <input type="submit" value="Create new category">

</form>